html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

button {
  width: 100%;
  height: 40px;
}

p {
  margin: 5px;
}

.frame {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  position: relative;
}

.frame--image {
  width: 600px;
  height: 600px;
  filter: brightness(100%);
  filter: saturate(100%);
}

.frame--quote {
  width: 600px;
  position: absolute;
  margin: 0;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  padding: 10px 0;
}

.frame--quote p {
  font-size: 24px;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.frame--quote cite {
  display: block;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  text-align: right;
}

.frame--quote cite::before {
  content: '-';
}

.frame--quote-top {  
  top: 0;
}

.frame--quote-bottom {
  bottom: 0;
}

.controls {
  margin: 6px auto;
  width: 600px;
  display: flex;
  align-items: center;
  border: 1px dashed;
}

.column {
  flex-grow: 1;
  padding: 10px 20px;
}